/* reset stile default browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*padding e bordo vengono inclusi in width e height*/
}

body {
    font-family: "Inter";
    line-height: 1.6;
    /* aumentare interlinea */
}

html body {
    font-size: 18px;
}

.wrapper {
    width: 100%;
    color: rgb(20, 29, 43);
    padding-top: 1.5rem;
 
}

.header__right {

}

.white {
    color: rgb(20, 29, 43);

}

.blue {
    background-color: rgb(18, 29, 44);
    color: rgb(253, 253, 253);

}

.blue p { 
    color: rgb(158, 167, 199);
    /* font-weight: 700; */ 
    font-size: 22px;

}
.grey {
    background-color: rgb(242, 245, 249);
    color: rgb(31, 41, 59);
}

.container {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    padding: 0 1.25rem;
    gap: 3rem;
    /* gap: 10px; se lo aggiungo per non doverlo ripetere, 
   si sballano le colonne "robust workflow"*/
    /*padding-bottom: 120px; come lo levo però dalla navbar?*/
    padding-top: 70px;
}
.container__grey {
    max-width: 830px;
    display: flex;
    margin: 0 auto;
    gap: 3rem;
    align-items: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display", serif;
    line-height: 1.2;
}

h1 {
    font-size: 68px;
    /* word-wrap: break-word; non lo prende per far andare a capo 
   i titoli qnd stringo finestra */
}

h2 {
    font-size: 48px;
    text-align: center;
    /* word-wrap: break-word; non lo prende per far andare a capo 
   i titoli qnd stringo finestra */
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 26px;
}

.bold {
    font-weight: bold; 
}

p {
    font-size: 20px;
    color: rgb(99, 108, 134);
    padding-top: 1rem;
    padding-bottom: 1rem;

}

a {
    /*per togliere lo stile di default e apportare modifiche di stile*/
    text-decoration: none;
    color: rgb(154, 165, 193);
}

a:hover {
    color: rgb(55, 118, 226);
}

li {
    list-style: none;
}

i {
    padding: 0.5rem;
    color: rgb(135, 171, 202);
}
button {
    background-color: rgb(55, 118, 226);
    width: 200px;
    height: 55px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    border: none;
}

.button-explore {
    background-color: rgb(52, 65, 86);
    margin: 12px;
}

.clip-path {
    
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    padding-bottom: 15rem;
    padding-top: 5rem;
}

/* NAVBAR */

.navbar__container {
    max-width: 1280px;
    margin: 0 auto;
    /* per centrare */
    padding: 0 28px;
    display: flex; 
    align-items: center;
    padding-bottom: 2rem;
}

.nav__menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.nav__menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.nav__logo-svg {
    width: 2.5rem;
    height: auto;
    fill: rgb(55, 118, 226);
    margin-right: 1rem;

}

.nav__actions {
   
    display: flex; 
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 24px; 
}

.nav__actions .nav__actions-item {
    padding: 0;
    /* meglio il paddng o lo spazio tra gli elementi "gap"?*/
    white-space: nowrap;
    /* per non fare andare a capo il testo */
}

.nav__menu .nav__menu-item {
    padding: 1.25rem;
    white-space: nowrap;
    /* per non fare andare a capo il testo */
}

/*
.nav__menu-item a,
.nav__actions-item a {
  font-weight: 600; 
}

*/

/* HEADER */

header {
    padding-bottom: 5rem;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.header__left {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__right {

    display: flex;
    flex-direction: row;

}

.header__left-title {
    width: 540px;
    /* Ma come si fa a rendere veramente responsive? a far spostare gli elementi 
    in verticale quando si restringe la finestra? ho messo la larghezza minima 
    per bloccare la larghezzza del box a minimo 500px, in % meglio? 
    o cosa si dovrebbe usare per ottenere quell effetto? */
}
.header__left-p {
    max-width: 540px; /*perché non lo prendeeeee???*/
}


/* MAIN */

.wrap {
    flex-wrap: wrap;
    /* per impostare la funzione flex calc 100%/3 - il gap (2 perché il cap è tra 
    le colonne e non ai lati, quindi 1 rem x 2 spazi intercolonne */
}

.main__card {
    display: flex;
    width: calc((100% / 3) - 2rem);
    flex-direction: column;
    margin-bottom: 5rem;
  
    

}

.main__card svg {
    display: block;        /* Elimina lo spazio "di linea di base" */
    margin-bottom: 1rem;   /* Se vuoi uno spazio sotto */
    width: 4rem;
    height: 4rem;
  }


.built {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.build__img img {
    width: 100%;
    box-shadow: 0 16px 22px rgba(0, 0, 0, 0.2);
    /* 0 = spostamento orizzontale, 
    16 = spostamento verso il basso, 22 = sfocatura,
    rgba 0,2 = 20% di opacità */
}

.build__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.build__buttons-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.round-svg {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 5px rgba(47, 47, 47, 0.2);
      /* 0 = spostamento orizzontale, 
    5 = spostamento verso il basso, 10 = sfocatura,
    rgba 0,2 = 90% di opacità */
    margin-bottom: 10px;
}

/* The quick brown fox jumped over the lazy dog */

.features__title {
    padding-bottom: 80px;
}

.features__body {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; non funge */

}

.features__left {
    width: 50%;
    display: flex;
    align-items: center;
}

.features__left img {
    width: 33.75rem;
    height: 38.75rem;
}

.features__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.features__right-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.internal-feedback {
    width: 600px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.simply__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.simply__container-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

   
}

.card2 {
    width: 33.3%;
    height: auto;
    background-color: aliceblue;
    margin: 2rem;
    

}














.fa-solid.fa-circle-user {
    /* come si ingrandiscono le icone? direttamente dal sito? */
    width: 50px;
}

/*qualcosa non quadra nella sezione cta*/
.container__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* per centrare anche il contenuto di cta__top. si è centrato, si può togliere altrove align center? */
.container__card__title {
    text-align: center;
}

.container__card__checkbox {
    align-items: center;

}

.container__card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card__trial-body {
    width: 300px;
    margin: 1rem;
    text-align: left;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 20px;
}


.card__separator {
    background-color: rgb(221, 221, 221);
    max-lines: 80%;
    /*per lasciare lo spaio ai lati*/
    /*perché se scrivo "width:80%" parte da sinistra e lascia lo spazio solo a destra anch con "align:center?"*/
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* FOOTER */

.footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.footer__title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    /* e niente il logo e il titolo restano separati */
}


.footer__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* perché i 4 menu nel footer non occupano tutto lo spazio del footer__menu?*/
    white-space: nowrap;
    /* per non fare andare a capo il testo */
    gap: 60px;
    /* Spaziatura tra gli elementi dentro a qst elemento*/
}


.footer__menu-htw {
    display: flex;
    flex-direction: column;
}

.footer__menu-resources {
    display: flex;
    flex-direction: column;
}

.footer__menu-products {
    display: flex;
    flex-direction: column;
}

.footer__menu-company {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*perché non si allarga fino alla fine della larghezza del genitore?*/
}

.footer__title-logo {
    width: 30px;
    height: auto;
}

svg {
    fill: rgb(55, 118, 226);

}

#request {
    color: aliceblue;
}